<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width" />
  <title>Jshnide Music</title>
  <!-- <link rel="stylesheet" href="../assets/css/about.css"> -->
  <link rel="stylesheet" href="../assets/css/index.css">
  <link rel="stylesheet" href="https://unpkg.com/flickity@2/dist/flickity.min.css">
  <link rel="apple-touch-icon" sizes="180x180" href="/apple-touch-icon.png">
  <link rel="icon" type="image/png" sizes="32x32" href="/favicon-32x32.png">
  <link rel="icon" type="image/png" sizes="16x16" href="/favicon-16x16.png">
  <link rel="manifest" href="/site.webmanifest">
  <link rel="mask-icon" href="/safari-pinned-tab.svg" color="#5bbad5">
  <meta name="msapplication-TileColor" content="#da532c">
  <meta name="theme-color" content="#ffffff">
  <script defer src="https://use.fontawesome.com/releases/v5.0.8/js/all.js"></script>
</head>
<body>
  <header>
    <div>
      <div onclick="location.href='../index.html'" id="logo"></div>
      <h2>Jshnide Music</h2>
    </div>
    <ul class="social-media">
      <li><a target="_blank" href="https://www.instagram.com/jshnide/"><i class="fab fa-instagram"></i></a></li>
      <li><a target="_blank" href="https://twitter.com/Jshnide"><i class="fab fa-twitter"></i></a></li>
      <li><a target="_blank" href="https://www.facebook.com/jshnidemusic"><i class="fab fa-facebook"></i></a></li>
      <li><a target="_blank" href="https://soundcloud.com/jshnidebeats"><i class="fab fa-soundcloud"></i></a></li>
    </ul>
    <nav>
      <li><a href="../index.html">HOME</a></li>
      <li><a href="music.html">MUSIC</a></li>
      <li><a id="aboutPage" href="#">ABOUT</a></li>
      <li><a href="clients.html">CLIENTS</a></li>
      <li><a href="teaching.html">TEACHING</a></li>
      <li><a href="subscribe.html">CONTACT</a></li>
    </nav>
  </header>

  <div class="carousel"
  data-flickity='{ "imagesLoaded": true, "percentPosition": false, "autoPlay": true, "fullscreen": true }'>
    <div class="gallery-cell">
      <img src="../assets/images/Pic2.jpg"/>
    </div>
    <div class="gallery-cell">
      <img src="../assets/images/Pic1.jpg" />
    </div>
    <div class="gallery-cell">
      <img src="../assets/images/Pic7.jpeg" />
    </div>
  </div>

  <section class="about-section">
    <p>
      Jon Schneider (born February 8, 1995) is a Composer, Producer, and Pianist. Known as Jshnide, he has produced for and worked with numerous rising stars such as Luke Christopher, Joyner Lucas, Lil Yachty, Taylor Bennett, and Chiddy Bang.
    </p>
    <p>
      Born in Westlake Village, California, a suburb of Los Angeles, Jon began playing piano at the age of eight. His mother, a classical pianist herself, noticed Jon’s passion for music at an early age and encouraged him to take lessons. After studying for a couple of years, Jon put music aside to focus on his main love at the time, basketball.
    </p>
    <p>
      When Jon was fourteen years old, he met recording artist and producer Luke Christopher, a friend and basketball teammate of his older brother Luke inspired and encouraged Jon to start making beats and producing songs. With his love of playing piano and now producing music, Jon found his new calling, composing music.
    </p>
    <p>
      In high school, Jon studied piano with concert pianist Richard Schiro. He considers Richard to be his biggest musical influence. The summer after graduating high school, Jon interned for renowned film composer Mark Isham.
    </p>
    <p>Jon enrolled at NYU where he studied music composition, focusing on film composing and songwriting. During his freshman year, he won “Best Solo Instrumental Performance” for Indi.com, an international online contest for instrumentalists to showcase original songs.</p>
    <p>During the summer of his sophomore year, Jon reconnected with Luke Christopher, where he produced two songs that would become part of his debut album “TMRWFRVR”. Jon also helped form electronic funk band ZIG, composed of three NYU music students. Jon was the lead composer and keyboardist for the group. </p>
    <p>During his last two years of school, Jon studied with and was mentored by Ira Newborn, a film composer known for scoring the films Ferris Buehler’s Day Off, Naked Gun, and BASEketball, and many more. He also got the opportunity to study with Barry Eastmond for a semester, a songwriter and producer for artists like Brittney Spears, Anita Baker, Billy Ocean, Chaka Khan, and other big stars.</p>
    <p>After graduating from NYU in 2017, Jon finished and released his first solo project titled “Tomorrow’s Promise”. The project is a showcase of Jon’s many talents of producing, writing, singing, and mixing. He hopes this project and all his music to come will be able to inspire people to go out and find their passion. </p>
    <p>Jon currently lives in Brooklyn with his girlfriend Jen, and dog Winston. As well as producing and mixing for many artists, Jon is a private instructor for piano and music production. He hopes to make his mark in the industry in both fields of songwriting and film composing. Some of his biggest influences are Elton John, Phil Collins, Kanye West, Alan Menken, and Thomas Newman.</p>
  </section>
  <footer>
    <ul class="social-media">
      <li><a target="_blank" href="https://www.instagram.com/jshnide/"><i class="fab fa-instagram"></i></a></li>
      <li><a target="_blank" href="https://twitter.com/Jshnide"><i class="fab fa-twitter"></i></a></li>
      <li><a target="_blank" href="https://www.facebook.com/jshnidemusic"><i class="fab fa-facebook"></i></a></li>
      <li><a target="_blank" href="https://soundcloud.com/jshnidebeats"><i class="fab fa-soundcloud"></i></a></li>
    </ul>
  </footer>
  <script src="https://unpkg.com/flickity@2/dist/flickity.pkgd.min.js"></script>
</body>
</html>
