<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width" />
  <title>Jshnide Music</title>
  <link rel="stylesheet" href="../assets/css/index.css">
  <link rel="stylesheet" href="https://unpkg.com/flickity@2/dist/flickity.min.css">
  <link rel="apple-touch-icon" sizes="180x180" href="/apple-touch-icon.png">
  <link rel="icon" type="image/png" sizes="32x32" href="/favicon-32x32.png">
  <link rel="icon" type="image/png" sizes="16x16" href="/favicon-16x16.png">
  <link rel="manifest" href="/site.webmanifest">
  <link rel="mask-icon" href="/safari-pinned-tab.svg" color="#5bbad5">
  <meta name="msapplication-TileColor" content="#da532c">
  <meta name="theme-color" content="#ffffff">
  <script defer src="https://use.fontawesome.com/releases/v5.0.8/js/all.js"></script>
</head>
<body id='music'>
  <header>
    <div>
      <div onclick="location.href='../index.html'" id="logo"></div>
      <h2>Jshnide Music</h2>
    </div>
    <ul class="social-media">
      <li><a target="_blank" href="https://www.instagram.com/jshnide/"><i class="fab fa-instagram"></i></a></li>
      <li><a target="_blank" href="https://twitter.com/Jshnide"><i class="fab fa-twitter"></i></a></li>
      <li><a target="_blank" href="https://www.facebook.com/jshnidemusic"><i class="fab fa-facebook"></i></a></li>
      <li><a target="_blank" href="https://soundcloud.com/jshnidebeats"><i class="fab fa-soundcloud"></i></a></li>
    </ul>
    <nav>
      <li><a href="../index.html">HOME</a></li>
      <li><a id="musicPage" href="">MUSIC</a></li>
      <li><a href="about.html">ABOUT</a></li>
      <li><a href="clients.html">CLIENTS</a></li>
      <li><a href="teaching.html">TEACHING</a></li>
      <li><a href="subscribe.html">CONTACT</a></li>
    </nav>
  </header>

  <div class="carousel"
  data-flickity='{ "imagesLoaded": true, "percentPosition": false, "autoPlay": true, "fullscreen": true }'>
    <div class="gallery-cell">
      <img src="../assets/images/Pic7.jpeg"/>
    </div>
    <div class="gallery-cell">
      <img src="../assets/images/Pic8.jpeg" />
    </div>
    <div class="gallery-cell">
      <img src="../assets/images/Pic9.jpeg" />
    </div>
  </div>

  <section class="media-2">
    <div class="spotify">
      <iframe src="https://open.spotify.com/embed/album/79CphRwdRDVH0n3XPHVdUF" width="100%" height="100%" frameborder="0" allowtransparency="true" allow="encrypted-media"></iframe>
    </div>
  </section>

  <footer>
    <ul class="social-media">
      <li><a target="_blank" href="https://www.instagram.com/jshnide/"><i class="fab fa-instagram"></i></a></li>
      <li><a target="_blank" href="https://twitter.com/Jshnide"><i class="fab fa-twitter"></i></a></li>
      <li><a target="_blank" href="https://www.facebook.com/jshnidemusic"><i class="fab fa-facebook"></i></a></li>
      <li><a target="_blank" href="https://soundcloud.com/jshnidebeats"><i class="fab fa-soundcloud"></i></a></li>
    </ul>
  </footer>
  <script src="https://unpkg.com/flickity@2/dist/flickity.pkgd.min.js"></script>
</body>
</html>
