<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width" />
  <!-- <link rel="stylesheet" href="../assets/css/teaching.css"> -->
  <link rel="stylesheet" href="../assets/css/index.css">
  <script defer src="https://use.fontawesome.com/releases/v5.0.8/js/all.js"></script>
  <link rel="stylesheet" href="https://unpkg.com/flickity@2/dist/flickity.min.css">
  <link rel="apple-touch-icon" sizes="180x180" href="/apple-touch-icon.png">
  <link rel="icon" type="image/png" sizes="32x32" href="/favicon-32x32.png">
  <link rel="icon" type="image/png" sizes="16x16" href="/favicon-16x16.png">
  <link rel="icon" href="../assets/images/jshnide_logo_icon.ico">
  <link rel="manifest" href="/site.webmanifest">
  <link rel="mask-icon" href="/safari-pinned-tab.svg" color="#5bbad5">
  <meta name="msapplication-TileColor" content="#da532c">
  <meta name="theme-color" content="#ffffff">
</head>
<body>
  <header>
    <div>
      <div onclick="location.href='../index.html'" id="logo"></div>
      <h2>Jshnide Music</h2>
    </div>
    <ul class="social-media">
      <li><a target="_blank" href="https://www.instagram.com/jshnide/"><i class="fab fa-instagram"></i></a></li>
      <li><a target="_blank" href="https://twitter.com/Jshnide"><i class="fab fa-twitter"></i></a></li>
      <li><a target="_blank" href="https://www.facebook.com/jshnidemusic"><i class="fab fa-facebook"></i></a></li>
      <li><a target="_blank" href="https://soundcloud.com/jshnidebeats"><i class="fab fa-soundcloud"></i></a></li>
    </ul>
    <nav>
      <li><a href="../index.html">HOME</a></li>
      <li><a href="music.html">MUSIC</a></li>
      <li><a href="videos.html">VIDEOS</a></li>
      <li><a href="about.html">ABOUT</a></li>
      <li><a href="clients.html">CLIENTS</a></li>
      <li><a id="teachingPage" href="#">TEACHING</a></li>
      <li><a href="subscribe.html">CONTACT</a></li>
    </nav>
  </header>

  <div class="carousel"
  data-flickity='{ "imagesLoaded": true, "percentPosition": false, "autoPlay": true, "fullscreen": true }'>
    <div class="gallery-cell">
      <img src="../assets/images/Review1.PNG"/>
    </div>
    <div class="gallery-cell">
      <img src="../assets/images/Review2.PNG" />
    </div>
    <div class="gallery-cell">
      <img src="../assets/images/Review3.PNG" />
    </div>
  </div>

  <footer>
    <ul class="social-media">
      <li><a target="_blank" href="https://www.instagram.com/jshnide/"><i class="fab fa-instagram"></i></a></li>
      <li><a target="_blank" href="https://twitter.com/Jshnide"><i class="fab fa-twitter"></i></a></li>
      <li><a target="_blank" href="https://www.facebook.com/jshnidemusic"><i class="fab fa-facebook"></i></a></li>
      <li><a target="_blank" href="https://soundcloud.com/jshnidebeats"><i class="fab fa-soundcloud"></i></a></li>
    </ul>
  </footer>
  <script src="https://unpkg.com/flickity@2/dist/flickity.pkgd.min.js"></script>
</body>
</html>
