<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width" />
  <title>Jshnide Music</title>
  <link rel="stylesheet" href="../assets/css/index.css">
  <link rel="stylesheet" href="https://unpkg.com/flickity@2/dist/flickity.min.css">
  <link rel="apple-touch-icon" sizes="180x180" href="/apple-touch-icon.png">
  <link rel="icon" type="image/png" sizes="32x32" href="/favicon-32x32.png">
  <link rel="icon" type="image/png" sizes="16x16" href="/favicon-16x16.png">
  <link rel="icon" href="../assets/images/jshnide_logo_icon.ico">
  <link rel="manifest" href="/site.webmanifest">
  <link rel="mask-icon" href="/safari-pinned-tab.svg" color="#5bbad5">
  <meta name="msapplication-TileColor" content="#da532c">
  <meta name="theme-color" content="#ffffff">
  <script defer src="https://use.fontawesome.com/releases/v5.0.8/js/all.js"></script>
</head>
<body id='videos'>
  <header>
    <div>
      <div onclick="location.href='../index.html'" id="logo"></div>
      <h2>Jshnide Music</h2>
    </div>
    <ul class="social-media">
      <li><a target="_blank" href="https://www.instagram.com/jshnide/"><i class="fab fa-instagram"></i></a></li>
      <li><a target="_blank" href="https://twitter.com/Jshnide"><i class="fab fa-twitter"></i></a></li>
      <li><a target="_blank" href="https://www.facebook.com/jshnidemusic"><i class="fab fa-facebook"></i></a></li>
      <li><a target="_blank" href="https://soundcloud.com/jshnidebeats"><i class="fab fa-soundcloud"></i></a></li>
    </ul>
    <nav>
      <li><a href="../index.html">HOME</a></li>
      <li><a href="music.html">MUSIC</a></li>
      <li><a id="videosPage" href="#">VIDEOS</a></li>
      <li><a href="about.html">ABOUT</a></li>
      <li><a href="clients.html">CLIENTS</a></li>
      <li><a href="teaching.html">TEACHING</a></li>
      <li><a href="subscribe.html">CONTACT</a></li>
    </nav>
  </header>

  <section class="hero">
    <div class="background-image" style="background-image: url(../assets/images/Pic13.JPG)">
    </div>
  </section>


  <section class="media-2">
    <div class="youtube">
      <iframe width="100%" height="315" src="https://www.youtube.com/embed/B2phYZxmKik" frameborder="0" allow="autoplay; encrypted-media" allowfullscreen></iframe>
    </div>
    <div class="spotify">
       <iframe width="100%" height="315" src="https://www.youtube.com/embed/xcW6-3FOgJI" frameborder="0" allow="autoplay; encrypted-media" allowfullscreen></iframe>
    </div>

  </section>

  <section class="media-2">
    <div class="spotify">
       <iframe width="100%" height="315" src="https://www.youtube.com/embed/rhZwvyJxhQY" frameborder="0" allow="autoplay; encrypted-media" allowfullscreen></iframe>
    </div>
  </section>

  <footer>
    <ul class="social-media">
      <li><a target="_blank" href="https://www.instagram.com/jshnide/"><i class="fab fa-instagram"></i></a></li>
      <li><a target="_blank" href="https://twitter.com/Jshnide"><i class="fab fa-twitter"></i></a></li>
      <li><a target="_blank" href="https://www.facebook.com/jshnidemusic"><i class="fab fa-facebook"></i></a></li>
      <li><a target="_blank" href="https://soundcloud.com/jshnidebeats"><i class="fab fa-soundcloud"></i></a></li>
    </ul>
  </footer>
  <script src="https://unpkg.com/flickity@2/dist/flickity.pkgd.min.js"></script>
</body>
</html>
